*{
  background-color: aqua;
}
.white{
  /* height: 12.5%; */
  /* width: 12.5%; */
  /* padding: 0%; */
  background-color: white;

}

.black{
  /* height: 12.5%;   */
  /* width: 12.5%;    */
  background-color: black;

}
#board{
 /* height: 1000px;
  width: 1000px;
  display: grid; 
   grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-colums: repeat(8,1fr); 
  grid-template-rows: 40px repeat(8,1fr) 40px;
  grid-auto-flow: row;
  gap: 1px 1px; */
  width: 1000px;
  height: 1000px;
  margin: 100px auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows:  repeat(8, 1fr) ;
  grid-auto-flow: row;

}