body {
	background-color: #202020;
}
#chessboard {
	display: grid;
	grid-template-columns: repeat(8, 100px);
	grid-template-rows: repeat(8, 100px);
	width: 800px;
	height: 800px;
	background-color: blue;
}

#pawn-promotion-modal {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

#pawn-promotion-modal > .modal-body {
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 400px);
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 300px;
	width: 800px;
	background-color: rgba(127, 127, 127, 0.8);
}

#pawn-promotion-modal > .modal-body > img {
	height: 120px;
	padding: 20px;
	border-radius: 50%;
}

#pawn-promotion-modal > .modal-body > img:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}
#buttonsGroup {
	text-align: center;
	margin-top: 10px;
}
#buttonsGroup button,
#buttonsGroup input,
#creditsButton {
	width: 100%;
	padding: 5px;
	background-color: wheat;
	border: 2px black solid;
	font-weight: bold;
}
#buttonsGroup input {
	width: 98.2%;
	background-color: whitesmoke;
}
.hideButtons {
	display: none;
}

#winner-tab-black,
#winner-tab-white,
#winner-tab-draw,
#credits-box {
	top: calc(50% - 150px);
	left: calc(50% - 400px);
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 300px;
	width: 800px;
	background-color: rgba(127, 127, 127, 0.8);
	position: absolute;
	font-weight: bold;
	font-size: 600%;
}
#credits-box {
	font-size: 300%;
}
.hidden {
	display: none;
}
#winner-tab-black.hidden,
#winner-tab-white.hidden,
#winner-tab-draw.hidden,
#credits-box.hidden {
	display: none;
}
*::-webkit-scrollbar {
	display: none;
}
.tile {
	color: #202020;
	display: block;
	position: relative;
}
.tile text {
	position: absolute;
	font-weight: bold;
	bottom: 0;
	padding: 3px;
	color: wheat;
}
.white-tile text {
	color: black;
	text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
		-1px -1px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff, -1px 0px 0 #fff,
		1px 0px 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff,
		-2px -2px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff, -2px 0px 0 #fff,
		2px 0px 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff, 1px -2px 0 #fff,
		-1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff,
		-2px -1px 0 #fff;
}
.black-tile text {
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
		1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
		-2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
		2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
		-1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
		-2px -1px 0 #000;
}
